@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Menú Principal</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />
</head>
<body>
    <h2>Menú Principal</h2>

    <ul>

        <li>
            @if (Session["Rol"] != null && Session["Rol"].ToString() == "Administrador")
            {
                <a href="/Participante/Index">Registrar Participante</a>
            }
        </li>

        <li>
            <a href="/Evaluacion/Index">Evaluación de desempeño</a>
        </li>

        <li>
            <a href="#">Gestión de entrenamientos</a>
        </li>


        <li>
            <a href="/Auth/Logout">Cerrar sesión</a>
        </li>

    </ul>
</body>
</html>
