@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Menú Principal</title>
</head>
<body>
    <h2>Menú Principal</h2>

    <ul>

        <li>
            <a href="/Participantes">Registro de participantes</a>
        </li>

        <li>
            <a href="#">Gestión de entrenamientos</a>
        </li>

        <li>
            <a href="#">Evaluación de desempeño</a>
        </li>

        <li>
            <a href="/Auth/Logout">Cerrar sesión</a>
        </li>

    </ul>
</body>
</html>
